 .frame{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #e5e5e5;
    
}

.frame .main_frame{
    position: relative;
    width: 1440px;
    height: 1312px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
    background-color:  #F0F0F6;
    ;
}
.main_frame .left_frame{
position: relative;
width: 305px;
height: 1315px;
background-color: rgb(255, 255, 255);
display: flex;
flex-direction: column;
}

.main_frame .midd_frame{
    position: relative;
    width: 970px;
    height: 1259px;
    margin-left: 30px;
    margin-right: 27px;
    display: flex;
    flex-direction: column;
    
}

.main_frame .right_frame{
    position: relative;
    width: 108px;
    height: 1315px;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.main_frame .left_1{
    position: relative;
    width: 228px;
    height: 267px;
    margin-top: 50px;
    margin-left: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
.main_frame .left_1 .left_1-1{
position: relative;
display: flex;
flex-direction: column;
width: 156.16px;
height: 142.053px;
margin-bottom: 29.46px;
}

.main_frame .left_1 .left_1-2{
    position: relative;
    width: 66.63px;
    height: 20.9px;
    margin-bottom: 6.65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 123.6%;
    color: #2b2b2b;
    
    
    }

.main_frame .left_1 .left_1-3{
    font-kerning: none;
    font-feature-settings: 'calt' off;
    /* Paragraph Progress - 15 */
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
    color: #767676;
    }

.main_frame .marginer{
    position: relative;
    width: 220px;
    height: 0px;
    margin-left: 40px;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    /* background */
    border: 1.5px solid #f0f0f6;
}

.left-icons{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 228px;
    margin-top:9px ;
    margin-bottom: 8px;
}

.link_href{
    text-decoration: none;
    color: black;
}

.icon {
    position: relative;
    width: 24.99px; 
    height: 22.8px; 
    border-radius: 50%;
    filter: drop-shadow(0 4px rgba(0,0,0,.25));
    background: #ffb400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon1{
    position: relative;
    left: 29.17%;
    right: 27.08%;
    margin-top: 5.86px;
}
.main_frame .left_2{
    position: relative;
    width: 221px;
    height: 126px;
    margin-left: 44px;
    /* display: flex; */
    /* flex-direction: row; */
}

/* .main_frame .left_2 .left_2-2{
    display: flex;
    flex-direction: column; 
} */

.main_frame .left_2 .left_2-2 #rect{
display: flex;
flex-direction: row;
margin-top: 8px;
}
.main_frame .left_2 .left_2-2 .age{
width: 221px;
height: 25px;
flex-shrink: 0;
justify-content: space-between;
margin-top: 0px !important;
}
.main_frame .left_2 .left_2-2 .age .rectangle_1{
display: flex;
justify-content: center;
align-items: center;
width: 46.209px;
height: 24px;
flex-shrink: 0;
background: #FFB400;
}

.left_2-2 p{
    margin: 0px;
}

.main_frame .left_2 .left_2-2  .residence{
width: 220px;
height: 24px;
flex-shrink: 0;
justify-content: space-between;
}

.main_frame .left_2 .left_2-2 .rectangle_2{
width: 89px;
height: 24px;
flex-shrink: 0;
background: #FFB400;
display: flex;
justify-content: center;
align-items: center;
}

.main_frame .left_2 .left_2-2  .freelance{
width: 220px;
height: 24px;
flex-shrink: 0;
justify-content: space-between;
}

.main_frame .left_2 .left_2-2 .rectangle_3{
width: 85px;
height: 24px;
flex-shrink: 0;
background: #FFB400;
display: flex;
justify-content: center;
align-items: center;
}

.main_frame .left_2 .left_2-2  .address{
width: 220px;
height: 24px;
flex-shrink: 0;
justify-content: space-between;
}

.main_frame .left_2 .left_2-2 .rectangle_4{
width: 75px;
height: 24px;
flex-shrink: 0; 
background: #FFB400;
display: flex;
justify-content: center;
align-items: center;  
}



.main_frame .left_frame .left_3{
position: relative;
width: 220px;
height: 153px;
/* margin-top: 25px; */
margin-left: 45px;
}

.main_frame .left_3 .left_3-3 h4{
margin: 0px;
color: #2B2B2B;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 123.6%; /* 22.248px */
text-transform: capitalize;
font-family: inter;
}

.main_frame .left_3 .left_3-3{
display: flex;
flex-direction: column;
/* margin-top: 8px; */
}
.main_frame .left_3 .left_3-3 .lang1{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top:8px;
margin-bottom: 0px;
width: 220px;
height: 24px;
}
.lang1 .uzbek{
color: var(--Paragraph-Font, #767676);
height: 24px;
width: 15px;
margin: 0px;
padding: 0px;
}

.lang1 .percent{
color: var(--Paragraph-Font, #767676);
font-kerning: none;
font-feature-settings: 'calt' off;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
text-transform: capitalize;
margin: 0px;
}

.main_frame .left_3 .left_3-3 .lang2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 219px;
    height: 24px;
    margin-top: 8px;
}
.lang2 .korean{
    color: var(--Paragraph-Font, #767676);
    height: 30px;
    width: 24px;
    margin: 0px;
    }

.lang2 .percent{
color: var(--Paragraph-Font, #767676);
font-kerning: none;
font-feature-settings: 'calt' off;
 /* Paragraph Progress - 15 */
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 160% */
text-transform: capitalize;
margin: 0px;
}


.main_frame .left_3 .left_3-3 .lang3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 219px;
    height: 24px;
    margin-top: 8px;
   
}

.main_frame .left_3 .left_3-3 .lang3 .english{
color: var(--Paragraph-Font, #767676);
height: 30px;
width: 24px;
margin: 0px;
}

.lang3 .percent{
    color: var(--Paragraph-Font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;
     /* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
    margin: 0px;
    }

.main_frame .left_frame .left_4{
    position: relative;
    width: 220px;
    height: 252px;
    /* margin-top: 25px; */
    margin-left: 45px;
}
.main_frame .left_4 .left_4-4{
display: flex;
flex-direction: column;
}

.main_frame .left_4 .left_4-4 h4{
    margin: 0px;
    color: #2B2B2B;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 123.6%; /* 22.248px */
    text-transform: capitalize;
    font-family: inter;
    }

.main_frame .left_4 .left_4-4 .skill1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:8px;
    margin-bottom: 0px;
    width: 220px;
    height: 24px;
    }

    .skill1 .html{
        color: var(--Paragraph-Font, #767676);
        height: 24px;
        width: 15px;
        margin: 0px;
        padding: 0px;
        }
        
        .skill1 .percent{
        color: var(--Paragraph-Font, #767676);
        font-kerning: none;
        font-feature-settings: 'calt' off;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        text-transform: capitalize;
        margin: 0px;
        }


.main_frame .left_4 .left_4-4 .skill2{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top:8px;
margin-bottom: 0px;
width: 220px;
height: 24px;
}        
.skill2 .css{
color: var(--Paragraph-Font, #767676);
height: 24px;
width: 15px;
margin: 0px;
padding: 0px;
}
            
.skill2 .percent{
color: var(--Paragraph-Font, #767676);
font-kerning: none;
font-feature-settings: 'calt' off;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
text-transform: capitalize;
margin: 0px;
}

.main_frame .left_4 .left_4-4 .skill3{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top:8px;
margin-bottom: 0px;
width: 220px;
height: 24px;
}        
.skill3 .nodeJs{
color: var(--Paragraph-Font, #767676);
height: 24px;
width: 15px;
margin: 0px;
padding: 0px;
}
                
.skill3 .percent{
color: var(--Paragraph-Font, #767676);
font-kerning: none;
font-feature-settings: 'calt' off;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
text-transform: capitalize;
margin: 0px;
}


.main_frame .left_4 .left_4-4 .skill4{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top:8px;
margin-bottom: 0px;
width: 220px;
height: 24px;
}        
.skill4 .python{
color: var(--Paragraph-Font, #767676);
height: 24px;
width: 15px;
margin: 0px;
padding: 0px;
}
                    
.skill4 .percent{
color: var(--Paragraph-Font, #767676);
font-kerning: none;
font-feature-settings: 'calt' off;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
text-transform: capitalize;
margin: 0px;
}

.main_frame .left_4 .left_4-4 .skill5{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top:8px;
margin-bottom: 0px;
width: 220px;
height: 24px;
}        
.skill5 .wordpress{
color: var(--Paragraph-Font, #767676);
height: 24px;
width: 15px;
margin: 0px;
padding: 0px;
}
                        
.skill5 .percent{
color: var(--Paragraph-Font, #767676);
font-kerning: none;
font-feature-settings: 'calt' off;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
text-transform: capitalize;
margin: 0px;
}

.main_frame .left_frame .left_5{
position: relative;
width: 186px;
height: 148px;
margin-left: 45px;
display: flex;
flex-direction: column;
}
.left_5 .left_5-5 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: rgb(118, 118, 118);
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.left_5 h4 {
    margin: 0px;
    color: #2B2B2B;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 123.6%; /* 22.248px */
    text-transform: capitalize;
    font-family: inter;
    margin-bottom: 8px;
}
.quadre {
    margin-right: 10px;
}
.extraskill4{
    margin-right: 10px;
}
.bootstrap{
    margin-top: 10px;
}

.mid-top{
width: 971px;
height: 454.328px;
background-color: white;
}
.mid-top .mtext{
width:499.51px;
height: 116.74px;
top: 99.15px;
left: 60px;
position: relative;
}
.mid-top .mtext h1 {
font-family: Inter;
font-size: 48px;
font-weight: 700;
line-height: 59.33px;
text-align: left;
}

.mid-top .ptext{
position: relative;
width: 424.44px;
height: 85.61px;
left: 61px;
top: 80px;
}
.ptext h6{
color: #767676;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}


.btn button{
width: 154px;
height: 51px;
background-color: #FFB400;
border: none;
border-radius: 5px;
position: relative;
left: 56.7px;
top: 88px;

}

.btn button a{
height: 19px;
width: 65px;
text-decoration: none;
text-transform: uppercase;
color: #2B2B2B;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.meProfile{
    position: relative;
    top: -305.46px;
    left: 583.3px;
 
}
.ellipse-15{
    position: absolute;
    left: 370px;
    height: 40px;
    top: 70px;
    z-index: 100;
    
}

.ellipse-13{
    position: absolute;
    left:900px;
    height: 40px;
    top: 410px;
    z-index: 100;
}

.ellipse-16{
    position: absolute;
    left:418px;
    height: 40px;
    top:450px;
    z-index: 100;
}

.ellipse-12{
    position: absolute;
    left:825px;
    height: 40px;
    top:90px;
    z-index: 100;
}

.rectangle-51{
    position: absolute;
    left:1200px;
    height: 40px;
    top:115px;
    z-index: 100;
}

.rectangle-52{
    position: absolute;
    left:685px;
    height: 40px;
    top:380px;
    z-index: 100;
}

.polygon-1{
    position: absolute;
    left:1250px;
    height: 40px;
    top:445px;
    z-index: 100;
}
.mid-mid{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 85px;
height: 190px;
width: 971px;

}
.mid-mid h2{
color: var(--Black, #2B2B2B);
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 123.6%;
text-transform: capitalize;
}
.mid-mid p{
color: var(--Paragraph-Font, #767676);
text-align: center;
font-kerning: none;
font-feature-settings: 'calt' off;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
text-transform: capitalize; 
}
.mid-bott1 {
display: flex;
flex-direction: row;
gap: 20px;
width: 970px;
height: 225px;
flex-shrink: 0;
margin-top: 25px;
}
.mid-bott1 div{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 310px;
height: 225px;
flex-shrink: 0;
background-color: #fff;
}

.mid-bott1 div h4{
color: var(--Black, #2B2B2B);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 123.6%;
text-transform: capitalize;
margin-bottom: 0px;
}
.mid-bott1 div p{
color: var(--Paragraph-Font, #767676);
text-align: center;
font-kerning: none;
font-feature-settings: 'calt' off;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 24px;
text-transform: capitalize;
}

.mid-bott2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 970px;
    height: 225px;
    flex-shrink: 0;
    margin-top: 25px;
    }
    .mid-bott2 div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 310px;
    height: 225px;
    flex-shrink: 0;
    background-color: #fff;
    }
    
    .mid-bott2 div h4{
    color: var(--Black, #2B2B2B);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%;
    text-transform: capitalize;
    margin-bottom: 0px;
    }
    .mid-bott2 div p{
    color: var(--Paragraph-Font, #767676);
    text-align: center;
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    }

.mid-bott2 div .orderbutt{
color: var(--Yellow, #FFB400);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-decoration: none;
text-transform: uppercase;
}

.mid-bott2 div .strel2{
width: 20px;
height: 20px;
}

.right_frame {
    display: flex;
    flex-direction: column;
}
.right_frame .box1{
    height: 250px;
    margin-top: 50px
}
.right_frame .box2{
    display: flex;
    flex-direction: column;
    gap: 40px;
}